* {
  font-family: Lato, sans-serif;
  scroll-behavior: smooth;
}
nav {
  background-color: black;
  color: white;
  display: flex;
  height: 60px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 9;
}

nav a {
  font-size: 25px;
  padding: 12px 24px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.link-wrapper {
  display: flex;
}

.profile-photo {
  position: relative;
}

.profile-photo img {
  width: 100%;
}

.name-caption {
  position: absolute;
  right: 10px;
  bottom: 550px;
  left: 0;
  color: white;
  text-align: center;
}

.name {
  font-size: 60px;
}
.job {
  font-size: 30px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #727270;
  color: white;
  padding: 60px 0px;
}

.desc {
  padding-top: 50px;
  width: 100%;
  background-color: #faf8ef;
  padding-left: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc more {
  color: #95a5a6;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar {
  position: relative;

  border: 2px solid black;

  border-radius: 20px;
}
.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #2f2f2f;
}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

.html-bar {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100% {
    width: 75%;
  }
}

.css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 50%;
  }
}

.javascript-bar {
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100% {
    width: 80%;
  }
}
